SERVER_URL=http://localhost:4567
LOGIN_ACCEPTED=LOGIN_ACCEPTED
TEACHER_LOGIN_ID=
SCENE_CHANGED=SCENE_CHANGED
TASK_CHANGED=TASK_CHANGED
MATERIAL_TO_PREVIEW=MATERIAL_TO_PREVIEW
KEYWORD_LIST_SUBMITTED=KEYWORD_LIST_SUBMITTED
EDIT_KEYWORD_LIST=EDIT_KEYWORD_LIST
VIDEO_PLAYER_READY=VIDEO_PLAYER_READY
TABBAR_LOADED=TABBAR_LOADED
LOAD_WEBPAGE=LOAD_WEBPAGE