SERVER_URL=http://localhost:4567
LOGIN_ACCEPTED=LOGIN_ACCEPTED
TEACHER_LOGIN_ID=
SCENE_CHANGED=SCENE_CHANGED
TASK_CHANGED=TASK_CHANGED
MATERIAL_TO_PREVIEW=MATERIAL_TO_PREVIEW
KEYWORD_LIST_SUBMITTED=KEYWORD_LIST_SUBMITTED
EDIT_KEYWORD_LIST=EDIT_KEYWORD_LIST
VIDEO_PLAYER_READY=VIDEO_PLAYER_READY
TABBAR_LOADED=TABBAR_LOADED
LOAD_WEBPAGE=LOAD_WEBPAGE
YOUTUBE_BASE_IMAGE_URL=http://img.youtube.com/vi/
ADD_MATERIAL_TO_PORTFOLIO=ADD_MATERIAL_TO_PORTFOLIO
TASK_PORTFOLIO_UPDATE=TASK_PORTFOLIO_UPDATE
REFRESH_COMPLETED_TASKS=REFRESH_COMPLETED_TASKS
TWEET_SUBMITTED=TWEET_SUBMITTED
XMPP_SERVER=
XMPP_CLIENT_DEFAULT_PASSWORD=
TWEETS_ROOM_NAME=
TWEETS_COMMUNICATION_ROOM_NAME=
TWEET_SELECTION_CHANGE=TWEET_SELECTION_CHANGE
TWEET_POST_SUCCESSFUL=TWEET_POST_SUCCESSFUL
REFRESH_TWEETS=REFRESH_TWEETS